@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background-color: var(--cor-fundo);
}

html{
    scroll-behavior: smooth;
}

:root{
    --cor-fundo:  #0A192F;
    --cor-destaque: #64FFDA;
    --cor-titulo-paragrafo: #CCD6F6;
    --cor-subtitulo: #8892B0;
    --cor-footer: #112240;
}

body, button, input, select, textarea{
    font-family: 'Roboto Slab', sans-serif;
}

h1{
    font-size: 54px;
    color: var(--cor-titulo-paragrafo);
    font-weight: 700;
}

h2{
    font-size: 28px;
    color: var(--cor-subtitulo);
    font-weight: 700;
}

h3{
    font-size: 24px;
    color: var(--cor-destaque);
    font-weight: 400;
}

h4{
    font-size: 20px;
    color: var(--cor-subtitulo);
    font-weight: 400;
}

p{
    font-size: 18px;
    color: var(--cor-titulo-paragrafo);
}

.linha{
    width: 50%;
    margin: 100px auto;
    border-color: var(--cor-destaque);
}

span{
    color: var(--cor-destaque);
}

b{
    color: var(--cor-titulo-paragrafo);
    font-weight: 400;
}

button{
    padding: 8px 32px;
    background-color: var(--cor-footer);
    color: var(--cor-titulo-paragrafo);
    cursor: pointer;
}

/*Header*/

header{
    height: 90vh;
    display: flex;
    align-items: center;
    
}

header .container{
    width: 100%;
    height: fit-content;
    padding: 0 100px;
}

/*header .container button{
    margin-top: 40px;
    font-size: 18px;
}*/

header .container h1{
    margin: 0;
}

header .container h2{
    color: var(--cor-destaque);
}

header .linha{
    width: 70%;
    margin: 0 auto;
}

.text-line{
    display: flex;
    align-items: center;
}

header p{
    width: 80%;
}

/*Barra de nav*/

nav{
    display: flex;
    align-items: center;
    background-color: var(--cor-fundo);
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    z-index: 99;
}

/*nav img{
    height: 45px;
}*/

nav ul{
    width: 100%;
}

nav ul li{
    display: flex;
    justify-content: space-around;
}

nav ul a{
    text-decoration: none;
    font-size: 24px;
    color: var(--cor-destaque);
}

nav ul a svg{
    display: none;
}

/*About me*/

.about-me{
    display: flex;
    padding: 0 100px;
    align-items: center;
    background: url(assets/portfolio.bg.png);
    height: 820px;
}

.about-me .container h2{
    color: var(--cor-titulo-paragrafo);
}

.about-me .img-container{
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;   
    position: relative;
    border-radius: 5px;
}

.about-me .container{
    width: 50%;
}

.about-me .img-container img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-right: 5px solid var(--cor-destaque);
    border-bottom: 5px solid var(--cor-destaque);
    border-radius: 10px;
}

.about-me .linha{
    margin: 0 auto;
    width: 100%;
}

/*Skills*/

.skills{
    padding: 0 100px;
}

.card-skills{
    display: grid;
    grid-template-columns: 1fr 2fr 6fr;
    align-items: center;
    gap: 10px;
}

.skills h2{
    color: var(--cor-titulo-paragrafo);
}

.skills h3{
    font-size: 22px;
}

.skills .linha{
    margin: 0 auto;
    width: 100%;
}

.skills-container .linha{
    margin: 0 auto;
    width: 100%;
}

/*Services*/

.services{
    padding: 0 100px;
}

.services h2{
    color: var(--cor-titulo-paragrafo);
}

.services h3{
    font-size: 22px;
}

.services .linha{
    margin: 0 auto;
    width: 100%;
}

.services-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto 0;
    overflow: hidden;
}

.services .services-container .service-card{
    background: var(--cor-footer);
    border-radius: 16px;
    border-bottom: 5px solid var(--cor-destaque);
    border-top: 5px solid var(--cor-destaque);
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-width: 360px;
    box-shadow: 1px 1px 15px 0px black;
}

.service-card svg{
    width: 60px;
    height: 60px;
    color: var(--cor-destaque);
}

.services .services-container .service-card h2{
    color: var(--cor-titulo-paragrafo);
}

.services .services-container .service-card img{
    margin-bottom: 40px;
    width: 90px;
}

.service-card + .service-card{
    margin-left: 10px;
}

/*Portfólio*/

.portfolio{
    padding: 0 100px;
    /*background: url(assets/portfolio.bg.png);
    height: 830px;*/
}

.portfolio .linha{
    margin: 0 auto;
    width: 100%;
}

.portfolio .portfolio-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 60px auto 0;
    margin-top: 128;
}

.portfolio h2{
    color: var(--cor-titulo-paragrafo);
}

.portfolio .portfolio-container .portfolio-card{
    max-width: 360px;
    background: radial-gradient(100% 100% at 0% 0%, var(--cor-destaque) 0%, var(--cor-footer) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid var(--cor-destaque);
    border-right: 5px solid  var(--cor-destaque) ;
    border-radius: 16px;
    padding: 50px 25px;
}

.portfolio .portfolio-container .portfolio-card .img-container{
    margin: 0 25px 50px;
    position: relative;
}

.portfolio .portfolio-container .portfolio-card .img-container img{
    width: 100%;
}

.portfolio .portfolio-container .portfolio-card .language-container ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li{
    color: var(--cor-titulo-paragrafo);
    border: 2px solid var(--cor-destaque);
    border-radius: 16px;
    padding: 3px 15px;
}

.portfolio .portfolio-container .portfolio-card .language-container{
    margin-bottom: 20px;
}

.portfolio-card .language-container ul li + li {
    margin-left: 10px;
}

.portfolio-card img{
    border-radius: 5px;
    border: 3px solid var(--cor-titulo-paragrafo);
}



.portfolio-card + .portfolio-card{
    margin-left: 10px;
    
}

/*Portfólio*/

.curriculum{
    padding: 0 100px;
    background: url(assets/portfolio.bg.png);
    height: 830px;
}

.curriculum h2{
    color: var(--cor-titulo-paragrafo);
}

.curriculum-img{
    width: 50%;
}

.curriculum .container{
    display: flex;
    margin: 60px auto;
    max-width: 1200px;
}

.curriculum .container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    align-items: center;
}

.curriculum .container .curriculum-info{
    display: grid;
    grid-template-columns: 150px auto;
    gap: 30px;
    margin-bottom: 50px;
}

.curriculum .linha{
    margin: 0 auto;
    width: 100%;
}

.linha-curriculum .linha, .linha-aboutme .linha{
    margin-top: 0;
}

.secondary-button{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid var(--cor-destaque);
    padding: 16px 32px;
}

.secondary-button a{
    color: var(--cor-destaque);
    text-decoration: none;
}

.curriculum .container .secondary-button svg{
    margin-right: 20px;
    width: 25px;
    height: 25px;
    color: var(--cor-destaque);
}

/*Contato*/

.contact{
    text-align: center;
    padding: 0 100px;
}

.contact h2{
    text-align: left;
    color: var(--cor-titulo-paragrafo);
}

.contact .linha{
    margin: 0 auto;
    width: 100%;
}

.contact p{
    margin: 50px auto;
    font-size: 24px;
    width: 700px;
    color: var(--cor-titulo-paragrafo);
}

.contact .button-contact{
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid var(--cor-destaque);
    padding: 12px 32px;
}


.contact .social-media{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.contact .social-media svg{
    margin-right: 20px;
    width: 35px;
    height: 35px;
    color: var(--cor-destaque);
}

/*Footer*/
footer p{
    text-align: center;
    margin: 50px auto 30px;
}



















/*desktop*/
@media (max-width: 1000px) {
    header .container{
        width: 100%;
        padding: 0 40px;
    }

    header .linha{
        width: 70%;
    }

    /*Barra de nav*/
    nav ul a {
        font-size: 18px;
    }

    
    nav{
        padding: 0 30px;
    }

    /*About me*/

    .about-me .container, .about-me .img-container{
        width: 100%;
    }

    .about-me .img-container{
        margin: 70px  auto 0;
    }

    /*Services*/

    .services .services-container{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .service-card + .service-card{
        margin-top: 20px;
        margin-left: 0;
    }

    /*Portfólio*/

    .portfolio{
        padding: 0 40px;
        height: 100%;
    }

    .portfolio .portfolio-container{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-card + .portfolio-card{
        margin-left: 0;
        margin-top: 30px;
    }

    /*currículo*/
    .curriculum{
        padding: 0 40px;
    }

    .curriculum-img{
        width: 50%;
    }

    .curriculum .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curriculum .container .content{
        margin-top: 20px;
    }

    .linha-curriculum .linha{
        margin-top: 320px;
    }


}

/*Tablete*/
@media (max-width: 767px){
    header .linha{
        width: 60%;
    }

    header p{
        width: 100%;
    }
    
    /*Barra de nav*/
        
    nav img{
        display: none;
    }

    nav ul{
        padding: 0;
    }

    nav ul a {
        font-size: 16px;
    }

    /*About me*/

    .about-me{
        padding: 0 40px;
        flex-direction: column;
    }

    .about-me .img-container{
        margin: 70px  auto 0;
    }

    .linha-aboutme .linha{
        margin-top: 200px;
    }


    /*Skills*/

    .skills{
        padding: 0 40px;
    }

    .skills .skills-container .card-skills{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /*Services*/

    .services{
        padding: 0 40px;
    }

    /*Currículo*/
    .curriculum-img{
        width: 75%;
    }

    .linha-curriculum .linha{
        margin-top: 400px;
    }

    /*Contato*/
    .contact{
        padding: 0 40px;
    }

    .contact p{
        width: 550px;
    }

}


/*Celular*/
@media (max-width: 480px){
    header .container{
        padding: 0 40px;
        margin-top: 70px;
    }

    header .linha{
        width: 45%;
    }
    
    header p{
        width: 100%;
    }

    /*Barra de nav*/
    nav{
        padding: 0 15px;
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
    }

    nav ul a svg{
        display: block;
        margin: 0 auto 10px;
        color: var(--cor-destaque);
    }

    nav ul a {
        font-size: 12px;
        color: var(--cor-titulo-paragrafo);
    }

    /*About me*/

    .about-me{
        padding: 0 40px;
    }

    .about-me .img-container{
        margin: 70px  auto 0;
    }

    .linha-aboutme .linha{
        margin-top: 100px;
    }

    /*Skills*/

    .skills{
        padding: 0 40px;
    }

    /*Portfólio*/
    .portfolio {
        padding: 0 40px;
    }

    /*Currículo*/

    .curriculum .container .curriculum-info{
        grid-template-columns: 100px auto;
        margin-bottom: 75px;
    }


    .linha-curriculum .linha{
        margin-top: 200px;
    }

    /*Contato*/
    .contact{
        padding: 0 40px;
    }

    .contact p{
        width: 350px;
    }

    footer p{ 
        margin: 50px auto 120px;
    }

}



/*Scroll de barra lateral*/
/* width */
::-webkit-scrollbar {
    width: 12px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cor-destaque); 
    border-radius: 5px;
}