* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-text: #3A3A3A;
}

html,
body {
  max-width: 1280px;
  margin: auto;
  /* overflow-x: hidden; */
  font-family: 'Nothing You Could Do', cursive;
  background-color: rgb(255, 255, 255);
  color: #3A3A3A;
}



